<h1>Amigo Code</h1>
<h2>A Forum of Friendly Faces</h2>
<table>
  <tr>
    <th> Learn, Forum, Build

Each month, over 1000 developers come to Stack Overflow to learn, share their knowledge, and build their careers.

Join the world’s largest friendly community.</th>

  </tr>
</table>


<table class="table table-hover">
  <tr>
    <th>Idea</th>
    <th>Details</th>
    <th></th>
  </tr>

  <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.idea_title %></td>
      <td><%= idea.details %></td>
      <td><%= link_to 'Show', idea_path(idea) %></td>
    </tr>
  <% end %>
</table>


<!-- <table class="some-class"> -->
