<h1 class = "title">Amigo Code</h1>
<h3 class = "title">A Forum of Friendly Faces</h3>
<h3 class = "title">Learn, Forum, Build</h3>
<h4 class = "title"> Each month, over 1000 developers come to Stack Overflow to learn, share their knowledge, and build their careers.
  Join the world’s largest friendly community.</h4>

<table class="table table-hover">
  <tr>
    <th>Idea</th>
    <th>Details</th>
  </tr>
  <tr>
    <td> Why is this question is central</td>
    <td>Submitted by:Stuart
        Date submitted:19/06/2018</td>
  </tr>

  <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.idea_title %></td>
      <td><%= idea.details %></td>
      <td><%= link_to 'Show', idea_path(idea) %></td>
    </tr>
  <% end %>
</table>


<!-- <table class="some-class"> -->
