<p>
  <strong>Idea:</strong>
  <%= @idea.idea_title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @idea.details %>
</p>
<%= link_to '> New Learning Idea <', new_idea_path %>
<%= link_to '> Home <', ideas_path%>
